
[defaults]
# location of inventory file, eliminates need to specify -i
hostfile = ./hosts
# default user to use for playbooks if user is not specified
remote_user = vagrant
sudo = True
# disable SSH key host checking
host_key_checking = False
# always use this private key file for authentication
private_key_file = ~/.vagrant.d/insecure_private_key
# reduces the number of SSH operations required
# to execute a module on the remote server
pipelining=True
[ssh_connection]
# ssh multiplexing
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o UseRoaming=no
