# TYPE  DATABASE        USER            ADDRESS                         METHOD
local   all             all                                             trust
host    {{ db.name }}   {{ db.user }}   {{ postgresql.address }}        trust
